body {
    background: linear-gradient(180deg , rgb(114, 210, 255), rgb(223, 74, 193));
}

.description-container {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-family: "Capriola";
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}